# Backend .gitignore (Moved from backend/ directory)
backend-services/admin-service/target
backend-services/api-gateway/target
backend-services/auth-service/target
backend-services/parents_kids-service/target
backend-services/teachers_courses-service/target


# ------------------------------------------------------------------
# Frontend .gitignore (Moved from frontend/ directory)

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

front-end/node_modules
front-end/dist
front-end/dist-ssr
front-end/*.local

# Editor directories and files
front-end/.vscode/*
!front-end/.vscode/extensions.json
front-end/.idea
front-end/.DS_Store
front-end/*.suo
front-end/*.ntvs*
front-end/*.njsproj
front-end/*.sln
front-end/*.sw?

.idea

oci/usefulforreport.md
oci/nova-ansible/inventory/hosts.yml
.env


