services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: pioneer
      POSTGRES_PASSWORD: nova25!X
      POSTGRES_DB: novadb
    ports:
      - "5431:5432"   ##avoids conflict with running local postgresql db
    volumes:
      - postgres-data:/var/lib/postgresql/data

  admin-service:
    container_name: admin-service
    build: ./backend-services/admin-service
    ports:
      - "9091:9091"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/novadb
      SPRING_DATASOURCE_USERNAME: pioneer
      SPRING_DATASOURCE_PASSWORD: nova25!X

  auth-service:
    container_name: auth-service
    build: ./backend-services/auth-service
    ports:
      - "9092:9092"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/novadb
      SPRING_DATASOURCE_USERNAME: pioneer
      SPRING_DATASOURCE_PASSWORD: nova25!X

  parents-kids-service:
    container_name: parents-kids-service
    build: ./backend-services/parents_kids-service
    ports:
      - "9093:9093"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/novadb
      SPRING_DATASOURCE_USERNAME: pioneer
      SPRING_DATASOURCE_PASSWORD: nova25!X

  teachers-courses-service:
    container_name: teachers-courses-service
    build: ./backend-services/teachers_courses-service
    ports:
      - "9094:9094"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/novadb
      SPRING_DATASOURCE_USERNAME: pioneer
      SPRING_DATASOURCE_PASSWORD: nova25!X
      SPRING_MAIL_USERNAME: dev-email@example.com
      NOVA_CONTACT_RECIPIENT: dev-recipient@example.com

  api-gateway:
    build:
      context: ./backend-services/api-gateway
    environment:
      ADMIN_SERVICE_URI: "http://admin-service:9091"
      AUTH_SERVICE_URI: "http://auth-service:9092"
      PARENTS_KIDS_SERVICE_URI: "http://parents-kids-service:9093"
      TEACHERS_COURSES_SERVICE_URI: "http://teachers-courses-service:9094"
    ports:
      - "9000:9000"
    depends_on:
      - admin-service
      - auth-service
      - parents-kids-service
      - teachers-courses-service


  frontend:
    container_name: nova-pioneers-front-end
    build:
      context: ./front-end
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - api-gateway
    volumes:
      - ./front-end:/app  # Syncs frontend files
      - /app/node_modules  # Prevents overwriting node_modules
    environment:
      - NODE_ENV=development
      - WATCHPACK_POLLING=true  # Fixes file watching issues
      - CHOKIDAR_USEPOLLING=1  # Ensures changes are detected in Docker
      - VITE_PORT=5173
    command: [ "npm", "run", "dev", "--", "--host" ]
volumes:
  postgres-data:


